.__nv--msgContainer{
        display: flex;
    width: 400px;
    height: 50px;
    background-color: pink;
    bottom: 0;
    position: fixed;
    z-index: 100000000000000;
    align-items: center;
}